$color_1: #041131;
$color_2: #000;
$background-color_1: transparent;
$font-family_1: Roboto-bold;

.header {
	grid-area: header;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 15px;
	min-height: 70px;
	border-bottom: 1px solid #E5E5EC;
	.header-search {
		flex-grow: 1;
		text-align: right;
		margin-right: 50px;
	}
	.user-welcome {
		font-family: $font-family_1;
		flex-grow: 1;
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		color: $color_1;
	}
}
.header-search {
	input[type=text] {
		min-width: 330px;
		padding: 12px 10px;
		background: #FCFCFF;
		border: 1px solid #E5E5EC;
		border-radius: 6px;
		background-image: url(./Images/search.svg);
		background-repeat: no-repeat;
		background-position: 10px;
		padding-left: 45px;
		background-size: 20px;
	}
}
.user {
	.dropbtn {
		background-color: $background-color_1;
		color: $color_2;
		padding: 16px;
		font-size: 16px;
		border: none;
	}
	.dropdown {
		position: relative;
		display: inline-block;
		margin-right: 19px;
		&:hover {
			.dropdown-content {
				display: block;
			}
			.dropbtn {
				background-color: $background-color_1;
			}
		}
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: $background-color_1;
		min-width: max-content;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		span {
			color: $color_2;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			cursor: pointer;
			&:hover {
				background-color: $background-color_1;
			}
		}
	}
}
.logo-sm {
	display: none;
}
@media only screen and (max-width: 750px) {
	.hide-sm {
		display: none;
	}
	.logo-sm {
		display: block;
	}
}
